.text-left{
    text-align:left;
}

 .text-right{
     text-align:right;
 }
 table{
    border-collapse: collapse;
    padding-right:5px;
 }
 tr{
     height: 100px;
 }
 th{
     text-align: center;
     font-size: 20px;
     width:250px;     
 }
.feld {
    background:#00ff21;
    border: solid;
}
#week {
    font-size: 25px;
    font-family: Anton, sans-serif;
    margin-left: 10%;
}
﻿.text-left{
    text-align:left;
}

 .text-right{
     text-align:right;
 }
 table{
    border-collapse: collapse;
    padding-right:5px;
 }
 tr{
     height: 100px;
 }
 th{
     text-align: center;
     font-size: 20px;
     width:230px;     
 }
.feld {
    background:#00ff21;
    border: solid;
}
#week {
    font-size: 25px; 
    font-family: Anton, sans-serif; 
    margin-left: 10%;
}