<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>RaumSystem</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anton">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body style="background-image: url(&quot;assets/img/background.gif&quot;);">
    <div class="text-left" style="background-color: #ffffff;height: 40%;margin-top: 5%;margin-right: 5%;margin-left: 5%;">
        <div class="text-right">
            <div style="min-height: 67%;">
                <p style="font-size: 25px;font-family: Anton, sans-serif;margin-right: 1%;margin-top: 1%;padding-top: 1%;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;18.11.2019, 13:09</p>
                <hr>
                <h2 class="display-4 text-left" style="font-family: Anton, sans-serif;margin-left: 10%;">Ups.. hier ist nichts</h2>
                <p class="text-right"></p>
                <h1 class="display-1 text-left" style="font-family: Anton, sans-serif;margin-left: 10%;width: auto;color: rgb(255,8,8);filter: grayscale(0%) sepia(0%);">404</h1>
                <h2 class="text-left" style="margin-left: 10%;margin-top: 1%;"><strong>File not found</strong></h2>
                <h2 class="text-left" style="margin-left: 10%;margin-top: -1%;">Kehre doch wieder zur Startseite zurück!</h2>
                <hr>
                <h3 class="text-left" style="font-family: Anton, sans-serif;width: 50%;margin-left: 10%;float: left;"><strong>Info </strong>Kalender</h3><img src="assets/img/SWM.gif" style="width: 10%;margin-right: 1%;margin-bottom: 1%;"></div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <audio id="audiofile" preload="auto">
        <source src="bg.mp3" type="audio/mpeg" /><!-- .../ = Pfadangabe hier nur gekürzt -->
        <source src="bg.ogg" type="audio/ogg" /><!-- .../ = Pfadangabe hier nur gekürzt -->
    </audio>
      <!-- Das Script nach <audio> notieren -->
    <script>
        document.getElementById('audiofile').play();
    </script>
</body>

</html>